<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <title>Gestion de stock</title>
    <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel= "stylesheet"
          type ="text/css"
          href= "../static/css/bootstrap.min.css"
          th:href="@{css/bootstrap.min.css}"
    />
    <link rel= "stylesheet"
          type ="text/css"
          href= "../static/css/style.css"
          th:href="@{css/style.css}"
    />
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Gestion</a>
            </div>
            <ul class="nav navbar-nav">

                <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown">Matiére Premiére<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/mps/all}">List</a></li>
                        <li><a th:href="@{/mps/form}">Add</a></li>
                    </ul>
                </li>

                <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown">Produit Semi Finis <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/psfs/all}">List</a></li>
                        <li><a th:href="@{/psfs/form}">Add</a></li>
                    </ul>
                </li>
                <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown">Produits Finis <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/pfs/all}">List</a></li>
                        <li><a th:href="@{/pfs/form}">Add</a></li>
                    </ul>
                </li>
                <li> <a href="/logout" onclick="return confirm('Voulez vous vraiment quitter ?')">
                    Déconnexion</a></li>
            </ul>
        </div>
    </nav>
</header>
<section layout:fragment="content">
</section>
</body>
</html>